/* responsive */
@media screen and (max-width: 850px) {
      .flag {
        display: none;
      }

      .cardLogin {
        margin-left: 5%;
        margin-right: 5%;
        justify-content: center;
        text-align: center;
      }

      .text-name{
        margin-left: 0px;
        max-width: 100%;
        color: #3D8361;
      }

      .text-desc{
        max-width: 100%;
        color: #4c4c6d;
        margin-left: 0px;
        text-align: justify;
      }

      .image-colum-jum{
        margin-top: -90px;
        background: #4c4c6d;
        padding: 3px;
      }
      .image-maps-jumbotron{
       width: 100%;
      }

      .col-maps-right img{
        display: none;
      }

      .row-container-maps .col-maps-left {
        padding: 5px;
        background: #4c4c6d;
      }
      .row-container-maps .col-maps-right {
        padding: 0;
        margin: 0;
      }


      .row-container-maps .col-maps-right h3 {
        color: #3d8361;
        margin-top: 20px;
        font-weight: 800;
        font-size: 30.8px;
      }
      

      .row-container-maps {
        margin-top: 15px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 100px;
      }
      .mark-color {
        margin-top: -12px;
        font-size: 12px;
  
      }
      
      .col-maps-left-modal h4 {
        color: #3d8361;
        font-weight: 600;
      }

      .col-maps-left-modal p {
      color: #4c4c6d;
      font-size:x-small;
      padding-left: 0%;
      padding-right: 0%;
      margin-bottom: 50px;
      }

}

 
